PORT=3000
MONGODB_URI=mongodb+srv://rokimananalfariji0404_db_user:rokiii0000@gamelab-mongodb.xopp8cd.mongodb.net/?appName=gamelab-mongodb
NODE_ENV=development

JWT_SECRET=roki-nanz-jb-akun-ff
JWT_EXPIRES_IN=1d

EXTERNAL_API_KEY=b270e50b1e769af711be76311266b4f3cdf9d8941e9d3577413fdcc1f39c795d

